.todo-current {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
  overflow: auto;
}

.current-header {
  margin-top: 15px;
  height: 40px;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  h4 {
    flex-grow: 1;
    margin-top: 5px;
  }

  i {
    margin-left: 10px;
  }
}